
/* Import component styles */
/* Import component styles */
@import './components/Header/Header.css';
@import './components/Footer/Footer.css';
@import './components/Banner/Banner.css';
@import './pages/Home/Home.css';
@import './pages/Detail/Detail.css';
@import './pages/watch/watch.css';
@import './pages/category/category.css';

/* Loading Screen */
@import './components/loading/loading.css';

/* icon */
@import '@fortawesome/fontawesome-free/css/all.min.css';
/* Biến CSS tối giản */
:root {
  --green-by: rgb(3, 248, 3);
  --primary-color: #e50914;
  --secondary-color: #6d1b7b;
  --dark-bg: #000000;
  --dark-bg-transparent: rgb(20, 20, 20);
  --light-text: #ffffff;
  --gray-text: #b3b3b3;
  --card-bg: #2f2f2f;
  --hover-color: #f40612;
  --transition: all 0.3s ease;
  --container-padding-right: 104px;
  --container-padding-left: 104px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-bg);
  color: var(--light-text);
  line-height: 1.4;
  overflow-x: hidden;
}

.container-f {
  width: 100%;
  max-width: 1400px;
  padding: 0px 20px;
  margin: 0 auto;
}

